In [1]:
import pandas as pd

In [2]:
json = pd.read_json('https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json')

In [3]:
json.head()

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
0,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1351696546452.jpg],...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,no,community,Haruna Mohmmed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351701849971.jpg],...,yes,no,manual_power,gravel,NaN,NaN,NaN,NaN,NaN,NaN
2,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702462336.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
3,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702971561.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
4,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351703622326.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
water_points = requests.get(url)

NameError: name 'requests' is not defined

In [5]:
import requests

In [6]:
url = 'https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json'

In [7]:
water_points_url = requests.get(url)

In [8]:
water_points_url

In [9]:
json.tail()

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
707,no,community,Emmanuel y,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1358151218133.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708,no,local_authority community,Emmanuel y,year_round,,NaT,broken,_08_Water_points_CV,yes,[north_ghana/attachments/1358081512606.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709,no,local_authority community,Emmanuel y,year_round,,NaT,broken,_08_Water_points_CV,yes,[north_ghana/attachments/1358081512606.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,no,community,abu seidu,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1358175596571.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,8.923301e+18,6.200101e+14
711,no,community,Sa,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1355488003808.jpg],...,yes,no,manual_power,gravel dirt,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
json.shape

(712, 48)

In [11]:
json.to_json('dataframe.json')

In [13]:
nested_json = """{
"water_points": [

  {
  number_functional: …,
number_water_points: {
communityA: …,
},
community_ranking: …
  }
  ]
}"""

In [14]:
import json
from pandas.io.json import json_normalize

nested = json.loads(nested_json)

JSONDecodeError: Expecting property name enclosed in double quotes: line 5 column 3 (char 27)

In [15]:
import pandas as pd

In [16]:
df = pd.read_json (r'https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json')

In [17]:
print (df)

    water_pay                 respondent research_asst_name water_used_season  \
0          no                  community    Haruna Mohammed        year_round
1          no                  community     Haruna Mohmmed        year_round
2          no                  community    Haruna Mohammed        year_round
3          no                  community    Haruna Mohammed        year_round
4          no                  community    Haruna Mohammed        year_round
..        ...                        ...                ...               ...
707        no                  community         Emmanuel y        year_round
708        no  local_authority community         Emmanuel y        year_round
709        no  local_authority community         Emmanuel y        year_round
710        no                  community          abu seidu        year_round
711        no                  community                 Sa        year_round

    _bamboo_dataset_id _deleted_at water_point_condition     _xform_id_string  \
0                              NaT           functioning  _08_Water_points_CV
1                              NaT           functioning  _08_Water_points_CV
2                              NaT           functioning  _08_Water_points_CV
3                              NaT           functioning  _08_Water_points_CV
4                              NaT           functioning  _08_Water_points_CV
..                 ...         ...                   ...                  ...
707                            NaT           functioning  _08_Water_points_CV
708                            NaT                broken  _08_Water_points_CV
709                            NaT                broken  _08_Water_points_CV
710                            NaT           functioning  _08_Water_points_CV
711                            NaT           functioning  _08_Water_points_CV

    other_point_1km                                 _attachments  ...  \
0                no  [north_ghana/attachments/1351696546452.jpg]  ...
1               yes  [north_ghana/attachments/1351701849971.jpg]  ...
2               yes  [north_ghana/attachments/1351702462336.jpg]  ...
3               yes  [north_ghana/attachments/1351702971561.jpg]  ...
4               yes  [north_ghana/attachments/1351703622326.jpg]  ...
..              ...                                          ...  ...
707              no  [north_ghana/attachments/1358151218133.jpg]  ...
708             yes  [north_ghana/attachments/1358081512606.jpg]  ...
709             yes  [north_ghana/attachments/1358081512606.jpg]  ...
710              no  [north_ghana/attachments/1358175596571.jpg]  ...
711             yes  [north_ghana/attachments/1355488003808.jpg]  ...

    animal_point water_mechanism_plate water_lift_mechanism_type    road_type  \
0            yes                   NaN                       NaN          NaN
1            yes                    no              manual_power       gravel
2            yes                    no              manual_power        paved
3            yes                    no              manual_power        paved
4            yes                    no              manual_power        paved
..           ...                   ...                       ...          ...
707          yes                    no                 hand_pump          NaN
708          yes                    no                 hand_pump          NaN
709          yes                    no                 hand_pump          NaN
710          yes                    no                 hand_pump          NaN
711          yes                    no              manual_power  gravel dirt

    water_mechanism_plate_units water_mechanism_plate_no  \
0                           NaN                      NaN
1                           NaN                      NaN
2                           NaN                      NaN
3                           NaN                      NaN
4                           NaN                      NaN
..                          ...                      ...
707                         NaN                      NaN
708                         NaN                      NaN
709                         NaN                      NaN
710                         NaN                      NaN
711                         NaN                      NaN

    water_not_functioning water_source_type_other     simserial  subscriberid
0                     NaN                     NaN           NaN           NaN
1                     NaN                     NaN           NaN           NaN
2                     NaN                     NaN           NaN           NaN
3                     NaN                     NaN           NaN           NaN
4                     NaN                     NaN           NaN           NaN
..                    ...                     ...           ...           ...
707                   NaN                     NaN           NaN           NaN
708                   NaN                     NaN           NaN           NaN
709                   NaN                     NaN           NaN           NaN
710                   NaN                     NaN  8.923301e+18  6.200101e+14
711                   NaN                     NaN           NaN           NaN

[712 rows x 48 columns]

In [18]:
import pandas as pd
df = pd.DataFrame(columns=["community_villages", "water_functioning"])

In [19]:
print (df)

Empty DataFrame
Columns: [community_villages, water_functioning]
Index: []

In [31]:
import pandas as pd
    df = pd.DataFrame(
        {
            'column': ["community_villages"], 
            'column2':["water_functioning"],
        }
    )

IndentationError: unexpected indent (<ipython-input-31-b87ce0fb8c87>, line 2)

In [30]:
df = pd.read_json("water_points.json")
pd.DataFrame.from_records(df).head()

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
0,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1351696546452.jpg],...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,no,community,Haruna Mohmmed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351701849971.jpg],...,yes,no,manual_power,gravel,NaN,NaN,NaN,NaN,NaN,NaN
2,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702462336.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
3,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702971561.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
4,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351703622326.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
pd.read_json("water_points.json").head()

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
0,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1351696546452.jpg],...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,no,community,Haruna Mohmmed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351701849971.jpg],...,yes,no,manual_power,gravel,NaN,NaN,NaN,NaN,NaN,NaN
2,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702462336.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
3,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702971561.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
4,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351703622326.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN